<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<%= stylesheet_link_tag "partial", :media => "all" %>

<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="nav-link">
        <%= link_to "#{current_user.name}さん", edit_user_path, class: "your-custom-class" %>
      </li>
      <li class="header_menu_title"><%= link_to "kanban", "/", class: "nav-link" %></li>
      <li>
        <ul class="header_menu_inner">
          <li>
            <%= link_to new_list_path, class: "nav-link" , id: "create-list" do %>
              <span class="mr-1">リストを作成</span>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete, id: "signout" %></li>
        </ul>
      </li>
      <li id="open-nav-panel" style="margin-right: 20px; display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="21" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
      </li>
      <div id="navPanel" style="display: none;">
        <nav>
          <ul class="links">
            <li id="close-nav-panel" style="text-align: right;margin-right: 20px; margin-top: 20px;">
                <i class="fa-solid fa-xmark"></i>
            </li>
            <li>
              <%= link_to new_list_path, class: "nav-link" , id: "create-list" do %>
                <span class="mr-1">リストを作成</span>
                <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete, id: "signout" %></li>
              <% end %>
            </li>
          </ul>
        </nav>      
      </div>
    </ul>
  </nav>
</header>
