<div class="cardeditPgae">
  <div class='container'>
    <%= form_with model: @card, url: { action: :update }, html: { class: 'cardeditForm' }, local: true do |f| %>
      <% if @card.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <div class="cardeditForm_title">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control", placeholder: "カード名", value: @card.title %>
      </div>
      <div class="cardeditForm_memo">
        <%= f.label :memo, "メモ"%>
        <%= f.text_area :memo, class: "form-control", placeholder: "詳細", value: @card.memo %>
      </div>
      <div class="cardeditForm_memo">
        <%= f.label :list_id, "リスト名" %>
        <%= f.select :list_id, @lists.map{ |l| [l.title, l.id] }, { selected: @card.list_id }, { class: 'form-control' } %>
      </div>
      <div class="cardnewForm_deadline">
        <%= f.label :deadline, "締切日" %>
        <%= f.date_field :deadline, autofocus: true, class: "form-control", id: "card_deadline", placeholder: "カレンダーに反映します", value: @card.deadline.to_s %>
      </div>
      <div class="form-group cardnewForm_importance">
        <%= f.label :importance, "重要度", class: 'form-label' %>
        <%= f.select :importance, [['High', 'high'], ['Medium', 'medium'], ['Low', 'low']], { selected: @card.importance || 'low' }, { class: 'form-select' } %>
      </div>
      <div class="text-center"><%= f.submit "更新する", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>
