<div class="cardnewPgae">
  <div class='container'>
    <%= form_with model: @card, url: { action: :create }, html: { class: 'cardnewForm' }, local: true do |f| %>
      <% if @list.present? %>
        <%= f.hidden_field :list_id, value: @list.id %>
      <% end %>
      <% if @card.errors.any? %>
      <% @card.errors.full_messages.each do |message| %>
        <% unless message.include?("List") %>
          <p class="text-danger"><%= message %></p>
        <% end %>
      <% end %>
      <% end %>
      <div class="cardnewForm_title">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "カード名" %>
      </div>
      <div class="cardnewForm_memo">
        <%= f.label :memo %>
        <%= f.text_area :memo, autofocus: true, class: "form-control", placeholder: "詳細" %>   
      </div>
      <div class="cardnewForm_deadline">
        <%= f.label :締切日 %>
        <%= f.date_field :deadline, autofocus: true, class: "form-control",  id: "card_deadline", placeholder: "カレンダーに反映します", value: "" %> 
      </div>
      <div class="form-group cardnewForm_importance">
        <%= f.label :重要度, class: 'form-label' %>
        <%= f.select :importance, [['High', 'high'], ['Medium', 'medium'], ['Low', 'low']], { include_blank: true }, { class: 'form-select' } %>
      </div>
      <div class="text-center"><%= f.submit "作成する", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>

<script>
document.getElementById('card_deadline').addEventListener('change', function() {
  this.setAttribute('value', this.value);
});
</script>
